{% extends "index.html" %}
{% block content1 %}
    <div class="activity_info">
        <table>
            <tr>
                <td>Задание:</td>
                <td><a href="{{ url_for("static", filename=activity.reference) }}">{{ activity.name }}</a>
                </td>
            </tr>
            <tr>
            <td>Стоимость:</td>

            <td>{{ activity.cost }}</td>
        </tr>
            <tr>
                <td>Статус:</td>
                {% if student_work is none %}
                    <td>не оценено</td>
                {% else %}
                    {% if student_work.mark %}
                        <td>оценено</td>
                    {% else %}
                        <td>не оценено</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Файл:</td>
                {% if student_work is none %}
                    <td>Файл не найден</td>
                {% else %}
                    <td>
                        <a href="{{ url_for("static", filename=student_work.reference) }}">{{ student_work.name }}</a>
                    </td>
                {% endif %}
            </tr>
        </table>

        <div id="change_answer_button">Изменить ответ</div>
        <form method='post' enctype="multipart/form-data" class='reg-form' id="change_answer_form">
            {{ add_material_form.hidden_tag() }}
            <div class="form_row">
                {{ add_material_form.file }}
                {% for error in add_material_form.file.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <div class="form-row">
                <input type="submit" value='Отправить'>
            </div>

        </form>
        <p>Отклик</p>

        <table>
            <tr>
                <td>Оценка:</td>
                {% if student_work.mark is not none %}
                    <td>{{ student_work.mark }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Оценил:</td>
                <td></td>
            </tr>
            <tr>
                <td>Коментарий:</td>
                {% if student_work.comment is not none %}
                    <td>{{ student_work.comment }}</td>
                {% endif %}
            </tr>
        </table>
    </div>
{% endblock %}
