{% extends "admin_index.html" %}
{% block content1 %}
    <div class="course_result_menu">
        <p id="rank_teacher">Ранжировка преподавателей</p>
    </div>
    <table align="center" valign="middle" class="admin_statistic" id="teacher_popularity">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Количество курсов</th>
            <th>Ранг</th>
        </tr>
        {% for record in teacher_popularity %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="course_result_menu">
        <p id="course_statistic">Успеваемость по курсам</p>
    </div>
    <table align="center" class="admin_statistic" id="statistic_for_course">
        <tr>
            <th>Курс</th>
            <th>Максимальный возможный балл</th>
            <th>Минимальный набранный балл</th>
            <th>Максимальный набранный балл</th>
            <th>Средний бал</th>
        </tr>
        {% for record in courses_statistic %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="course_result_menu">
        <p id="course_popularity">Популярность курсов</p>
    </div>
    <table align="center" class="admin_statistic" id="popularity_for_course">
        <tr>
            <th>Курс</th>
            <th>Аудитория</th>
            <th>Ранг</th>
        </tr>
        {% for record in courses_popularity %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}