<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <link href='static/css/registration.css' rel='stylesheet'>
</head>

<body>

  <form method='post' class='reg-form'>
        {{ form.hidden_tag() }}
        <div class='form-row'>
			<label for='form_login'>Логин: </label>
			{{ form.login }}
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</div>

		<div class='form-row'>
			<label for='form_password'>Пароль: </label>
			{{ form.password }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</div>

		<div class="form-row">
			<input type="submit" value='Войти'>
		</div>

	</form>

    <div class="reg_reference"><a href="signup">У меня нет учетной записи</a></div>

</body>
</html>