{% extends "index.html" %}
{% block content1 %}
    <div class="course_result_menu_for_student">
        <p>Оценки за курсы</p>
    </div>
    <table align="center" class="student_result">
        <tr>
            <th>Курс</th>
            <th>Набранные баллы</th>
            <th>Максимальный балл</th>
            <th>Процент завершения</th>
        </tr>
        {% for record in statistic %}
            <tr>
                <td>{{ record['course'] }}</td>
                <td>{{ record['student_rating'] }}</td>
                <td>{{ record['max_rating'] }}</td>
                <td>{{ ((record['student_rating'] * 1000 / record['max_rating'])|int / 10)|string + '%' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}