{% extends "index.html" %}
{% block content1 %}
    <table id="t_activity_info">
        <tr>
            <td>Задание:</td>

            <td><a href="{{ url_for("static", filename=activity.reference) }}">{{ activity.name }}</a>
            </td>
        </tr>
        <tr>
            <td>Стоимость:</td>

            <td>{{ activity.cost }}</td>
        </tr>
        <tr>
            <td>Кем добавлено:</td>

            <td></td>
        </tr>
        <tr>
            <td>Когда добавлено:</td>

            <td>{{ activity.added_date }}</td>
        </tr>
    </table>
    <div id="student_activity">Активность студентов</div>
    <table align="center" id="students_marks">
        <tr>

            <th>Студент</th>
            <th>Работа</th>
            <th>Дата добавления</th>
            <th>Оценка</th>
            <th>Коментарий</th>
        </tr>
        {% for student_work in activity.students %}
            <tr>
                <td>{{ student_work.student.name + " " + student_work.student.surname }}</td>
                {% if student_work.reference %}
                    <td>
                        <a href="{{ url_for("static", filename=student_work.reference) }}">{{ student_work.name }}</a>
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ student_work.upload_date }}</td>
                <td class="mark_field">{{ student_work.mark }}</td>

                <td>{{ student_work.comment }}</td>

            </tr>
        {% endfor %}
    </table>
    <form method='post' class='reg-form' id="add_mark_form">
        {{ add_mark_form.hidden_tag() }}
        <div class='form-row'>
            <label for='form_fname'>Студент:</label>
            {{ add_mark_form.student }}

            {% for error in add_mark_form.student.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </div>
        <div class='form-row'>
            <label for='form_login'>Оценка: </label>
            {{ add_mark_form.mark }}
            {% for error in add_mark_form.mark.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </div>

        <div class='form-row'>
            <label for='form_password'>Коментарий: </label>
            {{ add_mark_form.comment }}
            {% for error in add_mark_form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </div>

        <div class="form-row">
            <input type="submit" value='Оценить'>
        </div>

    </form>
{% endblock %}